<% provide(:title, "Помощь") %>
<h1>Помощь</h1>
<p>
  Если Вы обнаружили какие-либо баги, опишите проблему в письме на эл.адрес:
  <a href="https://mail.google.com/">askerova.anastasya@gmail.com</a>.
</p>