<h1>Meha - социальная сеть</h1>

<p>Привет, <%= @user.name %>,</p>

<p>
Добро пожаловать на Меху! Перейди по ссылке ниже, чтобы активировать свой аккаунт:
</p>

<%= link_to "Активировать", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>