<footer class="footer">
  <small>
    Meha by Murih
  </small>
  <nav>
    <ul>
      <li><%= link_to "О проекте", about_path %></li>
      <li><%= link_to "Поддержка", contact_path %></li>
    </ul>
  </nav>
</footer>